.main-content {
  width: 100%;
}

/*Form styles:*/

.page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 0 1rem;
  margin: 1rem;
  margin-top: 0;
  border: 1px solid var(--preto);
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
}

.form__input {
  width: 100%;
  padding: 2px;
}

.form__input::placeholder {
  font-size: 12px;
}

.form__button {
  width: 284px;
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--azul-tematico);
  border: none;
  color: var(--branco);
  font-weight: 600;
  cursor: pointer;
}

/*Table styles:*/

.page__secondTitle {
  font-size: 22px;
  text-align: center;
  padding: 1rem;
}

.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#filter__input {
  padding: 2px;
}

.main-content__ghost-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.page__table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table__head {
  background-color: var(--azul-tematico);
  border: 1px solid var(--azul-tematico);
}

.head__column {
  font-size: 15px;
  padding: 3px;
}

.line__cell {
  padding: 0.5rem;
  border: 1px solid var(--azul-tematico);
}

@media (min-width: 720px) {
  .page__form {
    padding: 1rem 1rem 0 1rem;
    margin: 0 3rem 3rem 3rem;
  }

  .form__label {
    font-size: 18px;
  }

  .form__input {
    padding: 5px;
  }

  .page__secondTitle {
    font-size: 25px;
  }

  .filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .page__table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
  }

  .head__column {
    font-size: 18px;
    padding: 5px;
  }

  .line__cell {
    font-size: 18px;
  }
}
