.body__main-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 1.5rem 1.5rem 1.5rem;
  gap: 2rem;
}

.main-table__med-table,
.main-table__textarea-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.med-table__add-button,
.main-table__save-button {
  background-color: var(--azul-tematico);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--branco);
}

.med-table__table {
  text-align: center;
  margin-top: 1.5rem;
  border-collapse: collapse;
}

.table__cabe {
  background-color: var(--azul-tematico);
  border: 1px solid var(--azul-tematico);
  color: var(--branco);
}

.headers__titulo {
  padding: 0.5rem;
}

#titulo--boder {
  border-right: 1px solid var(--branco);
}

.linha__celula {
  border: 1px solid var(--azul-tematico);
  padding: 0.5rem;
}

.textarea-sec__titulo {
  text-align: center;
  font-size: 18px;
}

@media (min-width: 720px) {
  .body__main-table {
    width: 70%;
    padding: 0.5rem 2rem 2rem 2rem;
  }
}

@media (min-width: 1024px) {
  .body__main-table {
    width: 60%;
  }
}
